*{
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
    text-decoration: none;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    position: relative;
}
footer{
    width: 100%;
    background-color: rgb(230, 230, 230);
    color: #080707;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px opx 20px rgb(160, 209, 233);
   
}

.formularios{
    max-width: 30em;
    padding: 1.3em;
    background-color: #e3e4f8;
    border-radius: 0.5 em;
    font-size: small;
    top: 100px;
    position: absolute;
    left: 39%;
    width: 40%;

}

.container-fluid{
    background-color: #284469;
    
}
.navbar-toggler{
    background-color: #284469;
}
.navbar-brand{
    font-family: Calisto MT;
    font-weight: bold;
    
}

.alert alert-warning alert-dismissible{
    width: 100%;
    height: 20%;
    position: absolute;
}
