#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
}
#footer{
    width: 1250px;
    background-color: #ecb7ec;
    border: 1px solid #ecb7ec;
    color: #ecb7ec;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px opx 20px gray

}
