<!--extends sirve para indicar que esta plantilla va a heredar de layout-->
{% extends 'layout.html' %}
<!-- Indicamos que title sera el bloque que usara -->
{% block title %}
   Inicio
{% endblock %}
<!-- Indicamos que content sera el bloque que usara
Tambien se pueden crear includes (una carpeta con otros archivos html en dónde se encuentre esta funcionalidad separada - revisar el ultimo video de la sección 45 del cursox)
-->
{% block content %}
   <h1>Bienvenido a la página de registro</h1>
   <form action= "" method="POST">
       {{form.nombre.label}}
       {{form.nombre}}
       
       {{form.email.label}}
       {{form.email}}
       
       {{form.usuario.label}}
       {{form.usuario}}
      
       {{form.contraseña.label}}
       {{form.contraseña}}

       {{form.enviar}}
    
   </form>

{% endblock %}